# Skopíruj tento súbor ako .env.local a doplň hodnoty
# cp .env.example .env.local

# MongoDB Atlas connection string
# Nájdeš ho v: Vercel → Project → Settings → Environment Variables
MONGODB_URI=mongodb+srv://<user>:<password>@is-sportu-history.d7gyq6.mongodb.net/?appName=IS-sportu-history
